html,
body {
  padding: 0;
  margin: 0;
  direction: ltr;
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  padding-bottom: 30px;
  background: #21222e url('/images/logo-bg.svg') no-repeat center 60px !important;
  background-size: auto calc(100vh - 80px) !important;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}
